# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CommunityContentSubmissionPage.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\work\Streaming-Projects\CommunityContentSubmissionPage\.idea\.idea.CommunityContentSubmissionPage\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
