@model SubmissionModel


@using (Html.BeginForm(FormMethod.Post))
{

    <div class="form-group" id="url">
        <label for="txtUrl">@Html.DisplayNameFor(Model => Model.Url)</label>
        @Html.TextBoxFor(Model => Model.Url, new { id = "txtUrl", @class = "form-control" })
    </div>

    <div class="form-group" id="type">
        <label for="txtType">@Html.DisplayNameFor(Model => Model.Type)</label>
        @Html.TextBoxFor(Model => Model.Type, new { id = "txtType", @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}