@model SubmissionModel

<div class="text-center">
    <div id="url">
        <div id="label">@Html.DisplayNameFor(Model => Model.Url)</div>
        @Html.TextBoxFor(Model => Model.Url, new { id = "txtUrl" })
    </div>

    <div id="type">
        <div id="label">@Html.DisplayNameFor(Model => Model.Type)</div>
        @Html.TextBoxFor(Model => Model.Url, new { id = "txtType" })
    </div>
</div>
